<label for="location-search">Yeni bir yer arayın </label>

<!-- inputa id değeri vererek bu id değerine sahip inputun değerine erişmek için idName.value kullan => search.value inputun değerini verir -->
<input id="location-search" #search placeholder="Örn: İstanbul"><button (click)="searchHousingLocations(search.value)">Ara</button>

<article *ngFor="let location of results">
<img [src]="location.photo" [alt]="location.name">
  <p>{{location.name}}</p>
  <p>{{location.city}}, {{location.state}}</p>    <!-- Bu olay, TypeScript sınıfındaki selectHousingLocation yöntemini çağırır ve argüman olarak tıklanan konuma bir başvuru iletir. -->
    <button (click)="selectHousingLocation(location)">View</button>
</article>